* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family:'KG';
	src:url('fonts/KG\ HAPPY.woff2') format('woff2'),
		url('fonts/KG\ HAPPY.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family:'Cicle';
	src:
		url('fonts/CicleFina.woff2') format('woff2'),
		url('fonts/CicleFina.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

#title{
    font-family: 'KG';
    font-size: 80px;
    margin-bottom:80px;
    align-self: center;
    color: rgb(220, 255, 254);
    width:max-content;
    padding-top: 30vh;
}


#playBtn {
    font-family: 'Cicle';
    font-size: 45px;
    width:280px;
    height:85px;
    border-radius: 15px;
    margin: auto;
    color:white;
    background-color: rgb(222, 152, 2);
    border:1px solid rgb(122, 233, 228);
    filter: drop-shadow(5px 3px 8px rgba(0,0,20,0.18));
    transition:0s 0.2s;
}

#playBtn:active {
    box-shadow: inset 1px 2px 6px #584100;
    transition: 0s ;
}

.flex {
    display: flex;
    flex-direction: column;
    
}

#playContainer {
    /* display:none;  */
    position:absolute;
    background-color: rgb(88, 94, 206);
    width:100vw;
    height:100vh;
    top:0px;
}

/*-----------------------------------------*/


#game-title{
    font-family: 'KG';
    font-size: 30px;
    margin:30px auto 50px auto;
    align-content: center;
    color: rgb(0, 105, 128);
    width:max-content;
    
}

#playerTurn {
    display:flex;
    font-family:'Cicle';
    width: 500px;
    height:70px;
    margin:auto;
    font-size: 35px;
    
    border:0.5px ridge rgb(106, 212, 214);
}
#playerTurn >p {
    margin:auto;
    color:rgb(0, 105, 128);
    
}


.btn-cell {
    background-color: rgb(122, 233, 228);
    border: none;
    border-radius: 15px;
    
}

.board-grid {
    width:fit-content;
    display: grid;
    grid-template: repeat(3, 130px)/repeat(3, 130px);
    background-color: rgb(220, 255, 254);
    gap: 15px;
    padding:20px;
    border: 3px solid rgb(106, 212, 214);
    border-radius: 25px;
    margin: 30px auto;
}

.X:disabled {
    background-color: rgb(88, 94, 206);
    border: none;
    border-radius: 15px;
}

.O {
    background-color: rgb(222, 152, 2);
    border: none;
    border-radius: 15px;
}

button {
    font-size: 30px;
}

#popup{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 105, 128, 0.9);
    color: white;
    position: relative;
    margin: auto;
    display:flex;
    border-radius: 15px;
    
}

.flexRow {
    display:flex;
    gap:50px;
    justify-content: center;
    margin-bottom: 50px;

}

.playerBox {
    background-color: rgb(220, 255, 254);
    border: 2px solid rgb(106, 212, 214);
    border-radius: 5px;
    width: 180px;
    height:120px;

}

#container {
    display:none;
    position: absolute;
    width: 100vw;
    height:100vh;
    background-color:rgba(197, 255, 255, 0.5);
    z-index:1;
    top:0px;
}

#popupMsg {
    font-size:30px;
    margin:auto;
}

.tokens {
    font-size: 40px;
    text-align: center;
    padding-top:15px;
}

#pOneName {
    color: rgb(222, 152, 2);
    text-align: center;
    font-size: 20px;
    padding-top:20px;
}

#p1Token {
    color:rgb(222, 152, 2);
}

#pTwoName {
    color: rgb(88, 94, 206);
    font-size: 20px;
    text-align: center;
    padding-top:20px;
}

#p2Token {
    color: rgb(88, 94, 206);
}